.contratista-container
    .contratista-content
        .contenedor-izquierdo
            .datos-usuario
                .barra-editar-ususario-contratista
                    .titulo
                        h3 Información Básica
                    button.btn-usuario-editar(mat-button, (click)="editarUsuario()")
                        span(*ngIf="!edicion_usuario") Editar
                        mat-icon(*ngIf="!edicion_usuario") edit
                        span(*ngIf="edicion_usuario") Cancelar
                        mat-icon(*ngIf="edicion_usuario") clear
                .usuario-contratista
                    .antes-edicion(*ngIf="!edicion_usuario")
                        .nombre
                            h4 Nombre: 
                            p {{usuario?.nombre}}
                        .apellido
                            h4 Apellido:
                            p {{usuario?.apellido}}
                        .correo
                            h4 Correo:
                            p {{usuario?.correo}}
                    .edicion(*ngIf="edicion_usuario")
                        form.fomulario-usuarios(class="example-form")
                            mat-form-field
                                input(matInput, placeholder="Nombre", [(ngModel)]="usuario.nombre",  name="nombre")
                            mat-form-field
                                input(matInput, placeholder="Apellido", [(ngModel)]="usuario.apellido",  name="apellido")
                            mat-form-field
                                input(matInput, placeholder="Correo", [(ngModel)]="usuario.correo",  name="correo")
                        .contenedor-guardar-usuario
                            button.btn-guardar-usuario(mat-raised-button (click)="guardarUsuario()") Guardar
            .datos.contratista
                .barra-editar-contratista
                    .titulo
                        h3 Información del Contratista
                    button.btn-contratista-editar(mat-button, (click)="editarContratista()")
                        span(*ngIf="!edicion_contratista") Editar
                        mat-icon(*ngIf="!edicion_contratista") edit
                        span(*ngIf="edicion_contratista") Cancelar
                        mat-icon(*ngIf="edicion_contratista") clear
                .contratista
                    .antes-edicion(*ngIf="!edicion_contratista")
                        .direccion
                            h4 Dirección:
                            p {{contratista?.direccion}}
                        .telefono
                            h4 Teléfono:
                            p {{contratista?.telefono}}
                        .pWeb
                            h4 Página Web:
                            p {{contratista?.paginaWeb}}
                        .casasProm
                            h4 # Anual de casas:
                            p {{contratista?.numPromAnaualCasas}}
                        .costoProm
                            h4 Costo promedio:
                            p {{contratista?.costoPromedio}}
                        .volumen
                            h4 Volumen:
                            p {{contratista?.volumen}}
                    .edicion(*ngIf="edicion_contratista")
                        form.formulario-contratistas(class="example-form")
                            mat-form-field
                                input(matInput, placeholder="Direccion", [(ngModel)]="contratista.direccion",  name="direccion")
                            mat-form-field
                                input(matInput, placeholder="Telefono", [(ngModel)]="contratista.telefono",  name="telefono")
                            mat-form-field
                                input(matInput, placeholder="Pagina Web", [(ngModel)]="contratista.paginaWeb",  name="paginaWeb")
                            mat-form-field
                                input(matInput, placeholder="Num. prom. anual de casas", [(ngModel)]="contratista.numPromAnaualCasas",  name="numPromAnualCasas")
                            mat-form-field
                                input(matInput, placeholder="Costo promedio", [(ngModel)]="contratista.costoPromedio",  name="costoPromedio")
                            mat-form-field
                                input(matInput, placeholder="volumen", [(ngModel)]="contratista.volumen",  name="volumen")
                        .contenedor-guardar-contratista
                            button.btn-guardar-contratista(mat-raised-button (click)="guardarContratista()") Guardar
        .contenedor-derecho
            .foto-perfil
                .barra-editar-foto-contratista
                    button.btn-editar-foto(mat-button, (click)="editarFotoContratista()")
                        span(*ngIf="!edicion_foto") Editar
                        mat-icon(*ngIf="!edicion_foto") edit
                        span(*ngIf="edicion_foto") Cancelar
                        mat-icon(*ngIf="edicion_foto") clear
                .foto-contratista
                    .imagen-container(*ngIf="!edicion_foto")
                        .imagen(*ngIf="carga==false")
                            img([src]="fotoPerfil")
                        mat-spinner(*ngIf="carga==true")
                        h4 Foto de Perfil
                    .inputs(*ngIf="edicion_foto")
                        dropify([(ngModel)]="file")
                        button.btn-dropify(mat-raised-button, (click)="guardarFoto()") Guardar
            .datos-extras
                .barra-editar-extras
                    .titulo
                        h3 Información Adicional
                    button.btn-editar-extras(mat-button, (click)="editarExtras()")
                        span(*ngIf="!edicion_extra") Editar
                        mat-icon(*ngIf="!edicion_extra") edit
                        span(*ngIf="edicion_extra") Cancelar
                        mat-icon(*ngIf="edicion_extra") clear
                .extras
                    .arquitecto(*ngIf="arquitecto")
                        .antes-edicion(*ngIf="!edicion_extra")
                            h4 Información del Arquitecto
                            .info-arqui
                                h4 Cédula Profesional:
                                p {{arquitecto?.cedula}}
                        .edicion(*ngIf="edicion_extra")
                            form.formulario-arquitecto(class="example-form")
                                mat-form-field
                                    input(matInput, placeholder="Cédula Profesional", [(ngModel)]="arquitecto.cedula",  name="cedula")
                            .contenedor-guardar-arquitecto
                                button.btn-guardar-arquitecto(mat-raised-button (click)="guardarArquitecto()") Guardar
                    .constructora(*ngIf="constructora")
                        .antes-edicion(*ngIf="!edicion_extra")
                            h4 Información de la Constructora
                            .nombre
                                h4 Nombre:
                                p {{constructora?.nombreConstructora}}
                            .director
                                h4 Director:
                                p {{constructora?.director}}
                            .direccion
                                h4 Dirección:
                                p {{constructora?.direccion}}
                            .fecha
                                h4 Fecha de constitución:
                                p {{constructora?.fecha_constitucion}}
                            .rfc
                                h4 R.F.C.:
                                p {{constructora?.rfc}}
                        .edicion(*ngIf="edicion_extra")
                            form.formulario-constructora(class="example-form")
                                mat-form-field
                                    input(matInput, placeholder="Nombre constructora", [(ngModel)]="constructora.nombreConstructora",  name="nombreConstructora")
                                mat-form-field
                                    input(matInput, placeholder="Director", [(ngModel)]="constructora.director",  name="director")
                                mat-form-field
                                    input(matInput, placeholder="Dirección", [(ngModel)]="constructora.direccion",  name="direccion")
                                mat-form-field
                                    input(matInput, placeholder="Fecha de constitución", [(ngModel)]="constructora.fecha_constitucion",  name="fecha_constitucion")
                                mat-form-field
                                    input(matInput, placeholder="R.F.C.", [(ngModel)]="constructora.rfc",  name="rfc")
                            .contenedor-guardar-constructora
                                button.btn-guardar-constructora(mat-raised-button (click)="guardarConstructora()") Guardar